#homem--de--ferro {
	width: 300px;
	height:300px;
	position: relative;

	animation-name: movimentoo ; /* Aqui eu dou o nome da animacao */
	animation-duration: 4.5s; /* Tempo de duracao da animacao */
	animation-iteration-count: infinite; /* Contagem de iteracao */
	animation-timing-function: ease-in-out; /* Funcao de tempo da animacao */
	animation-direction: alternate; /* Direcao da animacao */
	
}

@keyframes movimentoo {
	0%{
		left: -700px; top: 0px;
		width: 250px;
		height:250px;
	}
	25%{
		left: 700px; top: 300px;
		width: 300px;
		height:300px;
	}	
		
	50%{
		left: 1700px; top: 0px;
		width: 250px;
		height:250px;
		transform: rotateZ(0deg);
		transform: rotateX(0deg);
	}	
	65%{
		left: 700px; top: 250px;
		width: 300px;
		height:300px;
		transform: rotateZ(360deg);
	}
	75%{
		left: 170px; top: 0px;
		transform: rotateZ(0deg);
	}

	100%{
		left: -700px; top: 0px;
		width: 200px;
		height:200px;
	}

}	






