@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body{
font-family: 'Inconsolata', monospace;
}

.junbotron{
	border-radius: 0px !important;
}

.fundo--color{
	background-color: #00c9f2 !important;
}

.{
	background-color: #00c9a2;
}